
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  letter-spacing: 1px;
}

/*------------NAV BAR----------------*/
@media (min-width: 992px){
.side-nav {
    background-color: #f4f4f4;
    height: 96%;
    top: 64px;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 20%;
    overflow-y: scroll;
}

}
.highlight:hover {
    background-color: #4285f4;
    color: #fff;
    border-radius: 3px;
}
.button-style:active {
    background-color: #356bc3;
    transform: translateY(4px);
}
h1 {
    font-size: 56px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #563d7c;
}

p {
    font-size: 1rem;
    color: #6c757d;
}

code.hljs { 
    display: inline; 
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-control{
    border-color: #356bc3;
}
.scroll{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.accordion-height{
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.btn-size{
    font-size: 12px;
}
.btn-position{
    display: flex;
    align-items: center;
    justify-content: center;
}
#dowload-button{
    color: #4285F4;
}